<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 class="text-center">Home Page</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" asp-controller="Customer" asp-action="Index">Customer Menu</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" asp-controller="Location" asp-action="Index">Location Menu</a>
            </div>
            <div class="col">
                <a class="btn btn-primary" asp-controller="Order" asp-action="Index">Order Menu</a>
            </div>
        </div>
    </div>
</body>
</html>