@model IEnumerable<StoreWebUI.Models.CustomerVM>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Select Customer</h1>

    <table class="table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(mC => cust.Id)</td>
                    <td>@Html.DisplayFor(mC => cust.Name)</td>
                    <td>@Html.DisplayFor(mC => cust.Email)</td>
                    <td>@Html.ActionLink("Select", "SelectLocation", new { p_id = cust.Id}, new { @style = "color:white;", @class = "btn btn-primary" })</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>