<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 class="text-center">Home Page</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-primary" asp-action="Search">See a Store's Inventory</a>
            </div>
        </div>
    </div>
</body>
</html>